<div class="row">
    <article class="col-md-12 panel">
        <div class="page-header">
            <h1>Stack</h1>
        </div>
        <h3>What do we need?</h3>
        <p>
            <ul>
            	<li><a href="https://www.jetbrains.com/webstorm/">Webstorm IDE</a> <span class="text-muted">// This is only a recomendation, use a <a href="https://xkcd.com/378/">magnetized needle and a steady hand</a> if you want.</span></li>
            	<li><a href="https://www.ruby-lang.org/en/">Ruby</a></li>
            	<li><a href="http://git-scm.com/">Git</a></li>
            	<li>
            		<a href="https://nodejs.org/">Node.js</a>
            		<ul>
            			<li>Or you could try <a href="https://iojs.org/en/index.html">IO.js</a>. Is a fork of node but for cool kids.</li>
            		</ul>
            	</li>
            	<li><a href="http://bower.io/">Bower.io</a> <span class="text-muted">// As Nodejs Global Module</span></li>
            	<li><a href="http://mcavage.me/node-restify">Restify</a> <span class="text-muted">// As Local Nodejs Module</span></li>
            	<li><a href="http://sass-lang.com/">Sass</a></li>
            </ul>
        </p>
    </article>
</div>